npm-debug.log
.DS_Store
.cloud
.idea

*.js.map
app/**/*.js
e2e/**/*.js
e2e/reports/
hooks/
lib/
node_modules/
platforms/
tmp/
typings/
report/
test-results.xml
.tmp_backup/
app/App_Resources
haxm_silent_run.log

app/shared/shared.env.json

app/app.android.css
app/app.ios.css
app/shared/my-drawer-item/my-drawer-item.component.android.css
app/shared/my-drawer-item/my-drawer-item.component.ios.css
app/shared/my-drawer/my-drawer.component.android.css
app/shared/my-drawer/my-drawer.component.ios.css