<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label class="action-bar-title" [text]="name" horizontalAlignment="center"></Label>
    <!-- <ActionItem ios.position="right" android.position="right" (tap)="onEditButtonTap()">
        <Label text="Edit" class="action-item"></Label>
    </ActionItem> -->
</ActionBar>
<ScrollView class="page" #scrollView (scroll)="onScroll($event, scrollView, topView, fabView, actionItem1, actionItem2, actionItem3)">
	<StackLayout>
		<StackLayout #topView [height]="imageHeight" style="background-image: url('https://i.imgur.com/8E0SZ7V.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;">
			<!-- this is the header for collapsing --->
			<!-- Note: this can be any type of layout you want -->
      <GridLayout rows="0, *">
        <FAB #actionItem3 row="1" (tap)="actionItem3Tap()" icon="~/images/trash.png" rippleColor="#f1f1f1" class="fab-button" style="background-color: #db7d34;"></FAB>
        <FAB #actionItem2 row="1" (tap)="actionItem2Tap()" icon="~/images/arrow-up.png" rippleColor="#f1f1f1" class="fab-button" style="background-color: #db7d34;"></FAB>
        <FAB #actionItem1 row="1" (tap)="actionItem1Tap()" icon="~/images/box.png" rippleColor="#f1f1f1" class="fab-button" style="background-color: #db7d34;"></FAB>
        <FAB #fabView row="1" (tap)="fabTap(actionItem1, actionItem2, actionItem3)" icon="res://icon" rippleColor="#db7d34" class="fab-button" style="background-color: #ffffff;"></FAB>
      </GridLayout>
		</StackLayout>
		<StackLayout width="100%" backgroundColor="white" padding="10">
			<!--Add your page content here-->
      <RadDataForm [height]="screenHeight" tkExampleTitle tkToggleNavButton [source]="batch" [isReadOnly]="true">

        <TKPropertyGroup tkDataFormGroups collapsible="true" collapsed="false" name="Plant Batch Details">
            <TKEntityProperty tkPropertyGroupProperties name="StrainName"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="Type"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="Count">
              <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="LiveCount">
              <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="PackagedCount">
              <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="HarvestedCount">
              <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="DestroyedCount">
              <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="PlantedDate">
              <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="LastModified">
              <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
            </TKEntityProperty>
        </TKPropertyGroup>
        <TKPropertyGroup tkDataFormGroups collapsible="true" collapsed="true" name="Origin Information">
            <TKEntityProperty tkPropertyGroupProperties name="SourcePackageLabel"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="SourcePlantLabel"></TKEntityProperty>
        </TKPropertyGroup>

        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Hidden" hidden="true">
            <TKEntityProperty tkPropertyGroupProperties name="Id"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="Name"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="ActualDate"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="Strain"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="RoomId"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="RoomName"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="StrainId"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="SourcePackageId"></TKEntityProperty>
            <TKEntityProperty tkPropertyGroupProperties name="SourcePlantId"></TKEntityProperty>
        </TKPropertyGroup>
      </RadDataForm>
		</StackLayout>
	</StackLayout>
</ScrollView>
