<ActionBar class="action-bar">
    <Label class="action-bar-title" text="KipoTrac"></Label>
</ActionBar>
<ScrollView class="page">
    <StackLayout class="login-stack page p-t-15 m-t-10" style="background-image:url('~/images/kipo-logo-transparent-fade-20.png');background-repeat:no-repeat;background-size:cover;">

        <Image [ngClass]="{'loading': loading, 'login-failed': loginFailed}" class="m-t-20 m-b-30" src="~/images/kipo-logo-transparent.png" stretch="fill" height="200" width="200" horizontalAlignment="center"></Image>


        <!-- <RadDataForm tkExampleTitle tkToggleNavButton [source]="login" >

        </RadDataForm> -->

        <GridLayout columns="auto,*" class="input input-border m-l-15 m-r-15" padding="10">
  				<!--<Label col="0" class="fa far" text="&#xf0e0;" width="24" height="24"></Label>-->
          <Label col="0" class="mdi" text="mdi-email" style="font-size:24px;" width="24"></Label>
  				<TextField col="1" hint="Email Address" class="input m-l-5" horizontalAlignment="stretch" keyboardType="email" autocorrect="false" autocapitalization="none" [(ngModel)]="email"></TextField>
  			</GridLayout>
  			<GridLayout columns="auto,*" class="input input-border m-l-15 m-r-15" padding="10">
  				<Label col="0" class="fa" text="&#xf023;" style="font-size:24px;" width="24" height="24"></Label>
  				<TextField col="1" hint="Password" class="input m-l-5" horizontalAlignment="stretch" secure="true" autocorrect="false" autocapitalization="none" [(ngModel)]="password" (returnPress)="onSigninButtonTap()"></TextField>
  			</GridLayout>

<!--
        <TextField col="1" row="0" class="m-t-30 m-b-10 m-l-15 m-r-15" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalization="none" [(ngModel)]="email"></TextField>
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Password" secure="true" autocorrect="false" autocapitalization="none" [(ngModel)]="password" (returnPress)="onSigninButtonTap()"></TextField>
-->

        <!-- <TextField class="m-t-20 m-l-15 m-r-15" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalization="none"
            [(ngModel)]="email"></TextField>

        <TextField class="m-l-15 m-r-15" hint="Password" secure="true" autocorrect="false" autocapitalization="none"
            [(ngModel)]="password"></TextField> -->

        <Label class="mdi" text="mdi-email"></Label>
        <Label class="far" text="fa-envelope"></Label>
        <Button class="btn btn-primary m-t-10" text="SIGN IN" (tap)="onSigninButtonTap()"></Button>

        <!-- <GridLayout columns="90, *, auto" rows="auto, *" >
          <Switch col="0" class="m-t-8 m-b-10 m-l-25" checked="{{rememberMe}}" (checkedChange)="onRememberMeToggle($event)" horizontalAlignment="right"></Switch>
          <Label col="1" class="m-t-8 m-b-10 m-l-15 m-r-15" text="Remember Me" horizontalAlignment="left"></Label>
        </GridLayout> -->

        <Label class="m-t-10 m-b-10 m-l-15 m-r-15" text="Forgot password?" (tap)="onForgotPasswordTap()" horizontalAlignment="center"></Label>

        <Label class="m-t-10 m-b-10 m-l-15 m-r-15" text="Sign Up" [nsRouterLink]="['/signup']" horizontalAlignment="center"></Label>

    </StackLayout>
</ScrollView>
