<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()"></NavigationButton>
    <Label class="action-bar-title" text="Move Plants to Veg Phase" horizontalAlignment="center"></Label>
    <ActionItem ios.position="right" android.position="right">
        <Label text="Done" class="action-item" verticalAlignment="center" (tap)="onDoneButtonTap()"></Label>
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout class="item-list">

          <RadDataForm [height]="screenHeight" tkExampleTitle tkToggleNavButton [source]="batchGrowthPhase" [isReadOnly]="false">
            <TKEntityProperty tkDataFormProperty name="Count" displayName="Number of Plants" index=0>
              <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="NewRoom" displayName="Plant Vegetative Location" [valuesProvider]="rooms" index=1>
              <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="GrowthDate" index=2>
              <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
            </TKEntityProperty>

            <TKPropertyGroup tkDataFormGroups collapsible="true" name="Hidden" hidden="true">
              <TKEntityProperty tkPropertyGroupProperties name="Id"></TKEntityProperty>
              <TKEntityProperty tkPropertyGroupProperties name="GrowthPhase"></TKEntityProperty>
              <TKEntityProperty tkPropertyGroupProperties name="StartingTag"></TKEntityProperty>
            </TKPropertyGroup>
          </RadDataForm>

        </StackLayout>
    </ScrollView>
    <ActivityIndicator [busy]="isCreating"></ActivityIndicator>

</GridLayout>
