<ActionBar class="action-bar">
    <!--HACK - we should remove the navigation button-->
    <NavigationButton visibility="collapsed"></NavigationButton>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()"></NavigationButton>
    <Label class="action-bar-title" text="Configure Item Details" horizontalAlignment="center"></Label>
    <ActionItem ios.position="right" android.position="right">
        <Label text="Done" class="action-item" verticalAlignment="center" (tap)="onDoneButtonTap()"></Label>
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout class="item-list">


          <ActivityIndicator [busy]="_isUpdating"></ActivityIndicator>

          <RadDataForm [height]="screenHeight" tkExampleTitle tkToggleNavButton [source]="item" [isReadOnly]="false" (propertyCommitted)="updateValidUnits($event)">

            <TKEntityProperty tkDataFormProperty name="Name" index=0>
                <TKPropertyEditor tkEntityPropertyEditor></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="Strain" displayName="Strain" [valuesProvider]="strains" index=1>
                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="ItemCategory" displayName="Product Category" [valuesProvider]="itemCategories" index=2>
                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="UnitOfMeasure" displayName="Product Sold In" [valuesProvider]="unitsOfMeasure" index=3>
                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
            </TKEntityProperty>

              <TKEntityProperty tkDataFormProperty name="UnitThcContent" displayName="Product THC Content" index=4 [hidden]="!thcRequired">
                  <TKPropertyEditor tkEntityPropertyEditor type="Decimal"></TKPropertyEditor>
              </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="UnitThcContentUnitOfMeasure" displayName="Units" [valuesProvider]="chemicalUnitsOfMeasure" index=5 [hidden]="!thcRequired">
                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
            </TKEntityProperty>
\
              <TKEntityProperty tkDataFormProperty name="UnitVolume" displayName="Product Volume" index=6 [hidden]="!volumeRequired">
                  <TKPropertyEditor tkEntityPropertyEditor type="Decimal"></TKPropertyEditor>
              </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="UnitVolumeUnitOfMeasure" displayName="Units" [valuesProvider]="volumeUnitsOfMeasure" index=7 [hidden]="!volumeRequired">
                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
            </TKEntityProperty>

              <TKEntityProperty tkDataFormProperty name="UnitWeight" displayName="Product Weight" index=8 [hidden]="!weightRequired">
                  <TKPropertyEditor tkEntityPropertyEditor type="Decimal"></TKPropertyEditor>
              </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="UnitWeightUnitOfMeasure" displayName="Units" [valuesProvider]="chemicalUnitsOfMeasure" index=9 [hidden]="!weightRequired">
                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
            </TKEntityProperty>

            <TKPropertyGroup tkDataFormGroups name="Hidden" hidden="true">
                <TKEntityProperty tkPropertyGroupProperties name="Id"></TKEntityProperty>
            </TKPropertyGroup>

          </RadDataForm>

        </StackLayout>
    </ScrollView>
</GridLayout>
